<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>Label</key>
  <string>dog.tail.taildog</string>
  <key>ProgramArguments</key>
  <array>
    <string>/usr/local/bin/taildog</string>
    <string>up</string>
    <string>--foreground</string>
  </array>
  <key>RunAtLoad</key>
  <true/>
  <key>KeepAlive</key>
  <true/>
  <key>StandardErrorPath</key>
  <string>/tmp/taildog.err</string>
  <key>StandardOutPath</key>
  <string>/tmp/taildog.out</string>
</dict>
</plist>
